@model HuskySite.Models.BookkeepingModels.Wallet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Bookkeeping/_Layout.cshtml";
    ViewData.AddActivePage(BookkeepingNavPages.Wallet);
}

<h2>Подроюно</h2>

<div>
    <h4>Кошелек</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <!--<dd>
        @Html.DisplayFor(model => model.UserID)
    </dd>-->
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatternSMS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatternSMS.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID"class="btn btn-primary">Изменить</a> 
    <a class="btn btn-default" asp-action="Index" class="btn btn-default">Назад</a>
</div>
